body {
    background-image: url("pokemon-bg.jpg");
   }

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.container{
  height: 350px;
  width: 350px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  box-shadow: 0 5px 42px 5px black;
  text-align: center;
}

.profile {
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 100px;
  }

.Title {
    color: rgb(247, 6, 6); /*This indicates the font color. Change this, and it will change initially*/
    background-size: 100% 100%;
    font-family: 'BhuTuka Expanded One', cursive;
}

.Description {
    color: rgb(248, 2, 2); /*This indicates the font color. Change this, and it will change initially*/
    background-size: 100% 100%;
    font-family: 'Times New Roman', Times, serif;
  }
