h3 {
    color: white; /*This indicates the font color. Change this, and it will change initially*/
    background-size: 100% 100%;
    text-align: center;
    font-family: 'BhuTuka Expanded One', cursive;
}

h5 {
    color: white; /*This indicates the font color. Change this, and it will change initially*/
    background-size: 100% 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

div{
    text-align: center;
    background-size: 100% 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }




